{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="custom-center-block">
    <p class="custom-text-block">Тут пока только мой гитхаб&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="github-button" href="https://github.com/Fyodor-Mityanin"
        data-color-scheme="no-preference: light; light: light; dark: dark_dimmed;" data-size="large"
        aria-label="Follow @Fyodor-Mityanin on GitHub">Follow @Fyodor-Mityanin</a>
    </p>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}