{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% load static %}
{% block content %}
<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
        <p class="card-text">
            <strong class="d-block text-gray-dark">В проекте использовано:</strong>
            <div><a href="https://docs.djangoproject.com/en/3.2/" target="_blank">[Django 3.2]</a></div>
            <div><a href="https://www.postgresql.org/docs/12/plperl-builtins.html" class="single-card__text" target="_blank">[PostgreSQL 12.4]</a></div>
            <div><a href="https://www.docker.com/" class="single-card__text" target="_blank">[Docker 20.10.2]</a></div>
        </p>

    </div>
</div>
{% endblock %}